<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMP code test</title>
    <link href="css/site.css" rel="stylesheet">
    <script src="lib/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="appCtrl">
  <div class="container search-page">
    <h1>People search</h1>
    <div class="form-group">
      <input class="form-control input-lg" ng-model="searchTerm" placeholder="enter your search term" />
    </div>
    <div>
        <figure class="col-xs-12 col-sm-6 col-md-4" ng-repeat="people in peopleList | filter: searchTerm">          
          <img class="center-block" ng-src="{{people.picture}}" />
          <figcaption class="text-center">{{people.firstName}}</figcaption>        
        </figure>
    </div>
  </div>
</body>
</html>