@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
$default-text-color: #0080af;

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

.search-page {
  color: $default-text-color;

  @include font-size(32px);

  figure {
    padding: 10px;
  }
}